
@font-face {
    font-family: 'Godo';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
}

@font-face {
    font-family: 'Godo';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff') format('woff');
}

html{
    width: 100%;
    height: 100%;
}
body{
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background: #333;
    color: white;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 3.5% 9.5% 83.5% 3.5%;
    /*margin:25px;*/
}

/*.wrap{*/
    /*display: grid;*/
    /*grid-template-rows: 1% 98% 1%;*/
/*}*/

.buttonSet{
    display: grid;
    display: grid;
    grid-template-columns: 25% 20% 10% 20% 25%;
}

.layoutGrid{
    position: relative;
    display: grid;
    grid-template-rows: 20% 65% 5%;
    margin-left: 25px;
    margin-right: 25px;
    /*padding: 1em*/

}
.layoutLineTop{
    border-bottom: solid;
    margin-left: 25px;
    margin-right: 25px;
}

.layoutLineBottom{
    border-top: solid 1px;
    margin-left: 25px;
    margin-right: 25px;
}

.lineTop{
    border-top: solid;
}

.lineBottom{
    border-top: solid 1px;
}

.lineNav{
    padding-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
}

.lineNav .lineNav-title{
    display: inline-block;
    font-family: 'Godo', sans-serif;
}

.lineNav .lineNav-no{
    display: inline-block;
    float:right;
    font-style: italic;
}

/*@media screen and (min-width: 355px) and (max-width: 365px){*/
    /*.content{*/
        /*padding-top: 6em;*/
    /*}*/
/*}*/


/*@media screen and (min-width: 370px) and (max-width: 380px){*/
    /*.content{*/
        /*padding-top: 7em;*/
        /*padding-bottom: 7em;*/
    /*}*/
/*}*/

/*@media screen and (min-width: 410px) and (max-width: 412px){*/
    /*.content{*/
        /*padding-top: 7em;*/
    /*}*/
/*}*/

/*@media screen and (min-width: 413px) and (max-width: 415px){*/
    /*.content{*/
        /*padding-top: 9em;*/
    /*}*/
/*}*/


/*@media screen and (min-width: 760px) and (max-width: 770px){*/
    /*.content{*/
        /*padding-top: 17em;*/
    /*}*/
/*}*/

/*@media screen and (min-width: 771px) and (max-width: 1019px){*/
    /*.content{*/
        /*padding-top: 13em;*/
    /*}*/
/*}*/

/*@media screen and (min-width: 1020px) and (max-width: 1024px){*/
    /*.content{*/
        /*padding-top: 27em;*/
    /*}*/
/*}*/


/*@media screen and (min-width: 1030px){*/
    /*.content{*/
        /*padding-top: 12em;*/
        /*padding-bottom: 14em;*/
    /*}*/
/*}*/

.content{
    font-size: 50px;
    font-weight: 900;
    text-align: left;
    /*padding-left: 25px;*/
    /*padding-right: 25px;*/
}

.q{

}

.letterLine{

}

.second{

}

.bolder-box{
    display: inline-block;
    position: static;
    border: solid 3px;
    /*vertical-align: middle;*/
    /*font-size: 60px;*/
}


.answer{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 20px;
    font-weight: 500;
    background: white;
    margin-left: 10px;
    margin-right: 10px;
    width: 80px;
}

.answerGrid{
    margin: auto;
}

.answer{
    margin: auto;
}
.hideDiv{
    display: none;
}
