
@font-face {
    font-family: 'Godo';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
}

@font-face {
    font-family: 'Godo';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff') format('woff');
}

html{
    width: 100%;
    height: 100%;
}

body{
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background: #333;
    color: white;
    width: 100%;
    height: 100%;
    /*margin:25px;*/
}

.container{
    width: 100%;
    height: 100%;
    position: relative;
    border: 0;
}
.outer{
    width: 100%;
    height: 100%;
    display: table;
}

.inner{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.layoutGrid{
    position: relative;
    display: inline-block;
    width: 100%;
    /*padding: 1em*/

}
.layoutLineTop{
    /*width: 100%;*/
    position: absolute;
    left: 25px;
    right: 25px;
    top: 25px;
}

.layoutLineBottom{
    /*width: 100%;*/
    position: absolute;
    left: 25px;
    right: 25px;
    bottom: 25px;

}

.lineTop{
    border-top: solid;
}

.lineBottom{
    border-bottom: solid 1px;
}

.lineNav{
    padding-top: 15px;
}

.lineNav .lineNav-title{
    display: inline-block;
    font-family: 'Godo', sans-serif;
}

.lineNav .lineNav-no{
    display: inline-block;
    float:right;
    font-style: italic;
}

/*@media screen and (min-width: 355px) and (max-width: 365px){*/
    /*.content{*/
        /*padding-top: 6em;*/
    /*}*/
/*}*/


/*@media screen and (min-width: 370px) and (max-width: 380px){*/
    /*.content{*/
        /*padding-top: 7em;*/
        /*padding-bottom: 7em;*/
    /*}*/
/*}*/

/*@media screen and (min-width: 410px) and (max-width: 412px){*/
    /*.content{*/
        /*padding-top: 7em;*/
    /*}*/
/*}*/

/*@media screen and (min-width: 413px) and (max-width: 415px){*/
    /*.content{*/
        /*padding-top: 9em;*/
    /*}*/
/*}*/


/*@media screen and (min-width: 760px) and (max-width: 770px){*/
    /*.content{*/
        /*padding-top: 17em;*/
    /*}*/
/*}*/

/*@media screen and (min-width: 771px) and (max-width: 1019px){*/
    /*.content{*/
        /*padding-top: 13em;*/
    /*}*/
/*}*/

/*@media screen and (min-width: 1020px) and (max-width: 1024px){*/
    /*.content{*/
        /*padding-top: 27em;*/
    /*}*/
/*}*/


/*@media screen and (min-width: 1030px){*/
    /*.content{*/
        /*padding-top: 12em;*/
        /*padding-bottom: 14em;*/
    /*}*/
/*}*/

.content{
    /*font-size: 70px;*/
    /*font-weight: 900;*/
    /*text-align: left;*/
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: left;
}

.q{

}

.letterLine{

}

.second{

}

.infoTitle{
    letter-spacing: -0.3px;
    font-size: 25px;
    font-weight: 900;
    text-align: left;
    padding-bottom: 30px;
}

.infoContent{
    font-size: 15px;
    font-weight: 100;
    letter-spacing: -0.3px;
    padding-bottom: 30px;
}

.innerImg{
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
}

.bolder-box{
    display: inline-block;
    position: static;
    border: solid 3px;

}


.answer{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 20px;
    font-weight: 500;
    background: white;
    margin-left: 10px;
    margin-right: 10px;
    width: 75px;
}
.hideDiv{
    display: none;
}
