<!DOCTYPE HTML >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-1.11.3.js"/>
    <title>공공운수노조</title>
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="../../css/infoStory/layout.css"/>
    <!--<link rel="stylesheet" media="screen and (min-width: 370px) and (max-width: 380px)" href="../../css/infoStory"/>-->

</head>
<body>
<div class="layoutLineTop">
</div>
<div class="lineNav">
    <div class="lineNav-title">
        그러니까, 공공운수
    </div>
    <div class="lineNav-no">
    </div>
</div>
<div class="layoutGrid">
    <div class="empty"></div>
    <div class="content">
        <div class="cTop">
            <div class="cParagraph">
                <div class="letterLine first">
                    당신에게 힘이되는
                </div>
                <div class="letterLine second">
                    생각보다 강한 힘,
                </div>
                <div class="letterLine third">
                    공공운수 노조가 있습니다
                </div>
            </div>
        </div>
        <div class="cMiddle">
            <div class="cParagraph">
                <div class="letterLine first">
                    비정규직 지원 10억기금 현황
                </div>
                <div class="letterLine countNum">
                    <div class="cNum">
                        586671732
                    </div>
                    <div class="currency">원</div>
                </div>
            </div>
        </div>
        <div class="cBottom">
            <div class="cParagraph">
                <div class="letterLine first">
                    공공운수 조합원
                </div>
                <div class="letterLine countNum">
                    <div class="cNum">
                        190369
                    </div>
                    <div class="currency">명</div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="layoutLineBottom">
    <div class="lineBottom">
    </div>
</div>
<script type="text/javascript" src="../../js/infoStory/countUp.js"/>
<!--<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>-->
<!--<script src="../../js/infoStory/countUpJquery/jquery.counterup.min.js">-->

<!--</script>-->
<script>
    $('.counter').counterUp({
        delay: 1,
        time: 100000
    });
</script>
</body>


</html>