<!DOCTYPE HTML >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-1.11.3.js"/>
    <title>공공운수노조</title>
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="../../css/infoStory/layoutTitle.css"/>
    <!--<link rel="stylesheet" media="screen and (min-width: 370px) and (max-width: 380px)" href="../../css/infoStory"/>-->

</head>
<body>
<div class="layoutLineTop">
    <div class="lineTop">
    </div>
    <div class="lineNav">
        <div class="lineNav-title">
            그러니까, 공공운수
        </div>
        <div class="lineNav-no">
        </div>
    </div>
</div>
    <div class="container">
        <div class="outer">
            <div class="inner">
                <div class="layoutGrid">
                    <div class="content">
                        <div class="q">
                            Q
                        </div>
                        <div class="letterLine first">

                        </div>
                        <div class="letterLine second">
                        </div>
                        <div class="letterLine third">
                        </div>
                    </div>

                    <div class="answerGird">

                        <form method="get" th:action="@{/infoStory/storyContent}" th:object="${content}">
                            <input type="hidden" th:field="*{step}" id="hiddenStep"/>
                            <input type="hidden" th:field="*{answer}" id="hiddenAnswer"/>
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                            <button type="submit" onclick="getAnswer()" class="answer yes">
                                yes
                            </button>
                            <button type="submit" class="answer no">
                                no
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="layoutLineBottom">
    <div class="lineBottom">
    </div>
</div>

</body>
<!--/*@thymesVar id="content" type="org.ptlu.join.domain.storyContent.StoryContent"*/-->
<!--<form method="get" th:action="@{/infoStory/storyContent}" th:object="${content}">-->
    <!--<input type="text" th:field="${content.step}" id="hiddenStep"/>-->
    <!--<input type="submit" th:value="click"/>-->
    <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
<!--</form>-->


<script th:inline="javascript">
    /*<![CDATA[*/
    var step=[[${question.step}]]
    var pageNum=[[${question.pageNum}]]
    var qFirstLine = [[${question.qFirstLine}]];
    var qSecondLine=[[${question.qSecondLine}]];
    var qThirdLine=[[${question.qThirdLine}]];
    var pageDiv=document.querySelector(".lineNav-no");
    var fLine=document.querySelector(".first");
    var sLine=document.querySelector(".second");
    var tLine=document.querySelector(".third");


    pageDiv.innerHTML=pageNum;
    fLine.innerHTML=qFirstLine;
    sLine.innerHTML=qSecondLine;
    tLine.innerHTML=qThirdLine;

    var hiddenStep=document.querySelector("#hiddenStep");
    var hiddenAnswer=document.querySelector("#hiddenAnswer");
    hiddenStep.value=step;

    var answerArry=document.getElementsByClassName('answer');
    for(var i=0;i<answerArry.length;i++){
        answerArry[i].addEventListener('click',function (event) {
            getAnswer(event);
        })
    }

    function getAnswer(event) {
        var e = window.event || event || event.originalEvent;
        var anwer=e.target.innerText;
        hiddenAnswer.value=anwer;
    }

    /*]]>*/
</script>


</html>