<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Audio Pan</title>
    <link rel="stylesheet" href="../../css/example/videoSlider/videoSlider.css"/>
    <style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */

    .en-markup-crop-options {
        top: 18px !important;
        left: 50% !important;
        margin-left: -100px !important;
        width: 200px !important;
        border: 2px rgba(255,255,255,.38) solid !important;
        border-radius: 4px !important;
    }

    .en-markup-crop-options div div:first-of-type {
        margin-left: 0px !important;
    }
    </style>
</head>
<body>

<canvas id="videoMerge" width="1920" height="1080">
</canvas>

<div id="video-compare-container" style="display: none;">
    <video poster="../../../static/images/sliderContentImg/1.jpg" id="rightVideo">
        <source src="../../video/homepage.m4v"/>
    </video>
    <video poster="../../../static/images/sliderContentImg/2.jpg" id="leftVideo">
        <source src="../../video/verticalMain.m4v"/>
    </video>
</div>

<div id="videoUI"></div>
</body>
<script>

    //<![CDATA[
    Number.prototype.clamp = function(min, max) {
        return Math.min(Math.max(this, min), max);
    };

    let videoContainer = document.getElementById("video-compare-container"),
        videoUI = document.getElementById("videoUI"),
        videoMerge = document.getElementById("videoMerge"),
        leftVideo = document.getElementById("leftVideo"),
        rightVideo = document.getElementById("rightVideo"),
        videoControl = document.createElement("button"),
        videoReturn = document.createElement("button"),
        goTenSecondBtn=document.createElement("button"),
        backTenSecondBtn=document.createElement("button"),
        position = 0.5,
        leftVidCurrentTime=0,
        rightVidCurrentTime=0,
        vidHeight = 1080,
        vidWidth = 1920;
    let mergeContext = videoMerge.getContext("2d");
    videoContainer.style.display = "none";
    videoControl.innerHTML = "Play";
    let playThroughs = 0;
    videoUI.appendChild(videoReturn);
    videoUI.appendChild(backTenSecondBtn);
    videoUI.appendChild(goTenSecondBtn);
    videoUI.appendChild(videoControl);

    videoControl.addEventListener("click", playPause, false);
    videoReturn.addEventListener("click", returnToStart, false);
    goTenSecondBtn.addEventListener('click',goTenSecond,false);
    backTenSecondBtn.addEventListener('click',backTenSecond,false);


    function playPause() {
        if (leftVideo.paused) {
            videoControl.innerHTML = "Pause";
            goTenSecondBtn.innerHTML="+10s";
            backTenSecondBtn.innerHTML="-10s";
            playVids();
        } else {
            leftVideo.pause();
            rightVideo.pause();
            videoControl.innerHTML = "Play";

        }

    }

    function backTenSecond() {
        leftVideo.pause();
        rightVideo.pause();
        leftVidCurrentTime=leftVideo.currentTime;
        rightVidCurrentTime=rightVideo.currentTime;
        let leftVid10Back=leftVidCurrentTime-10;
        let rightVid10Back=rightVidCurrentTime-10;
        leftVideo.currentTime=leftVid10Back;
        rightVideo.currentTime=rightVid10Back;
        // leftVideo.play();
        // rightVideo.play();
        videoControl.innerHTML = "Play";
    }

    function goTenSecond() {
        leftVideo.pause();
        rightVideo.pause();
        leftVidCurrentTime=leftVideo.currentTime;
        rightVidCurrentTime=rightVideo.currentTime;
        let leftVid10Back=leftVidCurrentTime+10;
        let rightVid10Back=rightVidCurrentTime+10;
        leftVideo.currentTime=leftVid10Back;
        rightVideo.currentTime=rightVid10Back;
        // leftVideo.play();
        // rightVideo.play();
        videoControl.innerHTML = "Play";
    }

    function returnToStart() {
        leftVideo.currentTime = 0;
        rightVideo.currentTime = 0;
        leftVideo.pause();
        rightVideo.pause();
        videoControl.style.display='inline-block';
        goTenSecondBtn.style.display='inline-block';
        backTenSecondBtn.style.display='inline-block';
        videoControl.innerHTML = "Play";
        playVids();
    }

    function playVids() {
        if (leftVideo.readyState > 3 && rightVideo.readyState > 3) {
            leftVideo.play();
            rightVideo.play();
            if (playThroughs == 0) {
                videoReturn.innerHTML = "Rewind";
            }


            function trackLocation(e) {
              position = ((e.pageX - videoMerge.offsetLeft) / videoMerge.offsetWidth);
            }

            videoMerge.addEventListener("mousemove", trackLocation, false);	videoMerge.addEventListener("touchstart",trackLocation,false);
            videoMerge.addEventListener("touchmove",trackLocation,false);

            function drawLoop() {
                mergeContext.drawImage(leftVideo, 0, 0, vidWidth, vidHeight, 0, 0, vidWidth, vidHeight);
                mergeContext.drawImage(rightVideo, (vidWidth * position).clamp(0.01,vidWidth), 0, (vidWidth - (vidWidth * position)).clamp(0.01,vidWidth), vidHeight,(vidWidth * position).clamp(0.01,vidWidth), 0, (vidWidth - (vidWidth * position)).clamp(0.01,vidWidth), vidHeight);
                let shape=new Shape(vidWidth/2,0,3,vidHeight,'#e50a15');
                shape.draw(mergeContext);
                shape.contains();
                requestAnimationFrame(drawLoop);
            }
            requestAnimationFrame(drawLoop);

        }
        playThroughs = 1;



        leftVideo.addEventListener("ended",function () {
                videoControl.style.display='none';
            goTenSecondBtn.style.display='none';
            backTenSecondBtn.style.display='none';
        },false);


    }
    
    //]]>
</script>
<script>
    //<![CDATA[

    function Shape(x,y,width,height,color) {
        this.x=x||0;
        this.y=y||0;
        this.width=width||1;
        this.height=height||1;
        this.color = color || '#AAAAAA';
    }

    Shape.prototype.draw=function (ctx) {
        ctx.fillStyle=this.color;
        ctx.fillRect(this.x,this.y,this.width,this.height);
    }

    Shape.prototype.contains=function (mouseX,mouseY) {

        //4개의 조건이 맞을 때 true를 리턴한다
        //아닐땐 false;
        return  (this.x <= mouseX) && (this.x + this.w >= mouseY) &&
            (this.y <= mouseY) && (this.y + this.h >= mouseY);

    }
    
    
    function CanvasState(canvas) {
        this.canvas=canvas;
        this.width=canvas.width;
        this.height=canvas.height;
        this.ctx=canvas.getContext('2d');

    }


    //]]>
</script>
</html>