<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<script src="https://code.jquery.com/jquery-1.11.3.js"/>-->
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <title>가입서</title>
    <link rel="stylesheet" href="../../css/storyApp/body.css"/>
    <link rel="stylesheet" href="../../css/storyApp/storySlider.css"/>
    <link rel="stylesheet" media="screen and (min-width: 370px) and (max-width: 380px)" href="../../css/storyApp/mobile/iPhone6.css"/>

</head>

<body>
<div class="wrap">
    <div class="basic">
        <section class="content">
            <div class="lrContent">
                <ol class="story-slider">
                    <li class="liDiv">
                        <div class="result-div">
                            <div class="qDiv yes">
                                <em class="em-link">1</em>
                                <div class="event-div">
                                    <div class="figure circle"></div>
                                    <a class="btn-aTag">
                                        <div class="selBtn" data-move="up">YES</div>
                                    </a>
                                </div>
                            </div>
                            <div class="qDiv no">
                                <em class="em-link">2</em>
                                <div class="event-div">
                                    <div class="figure x"></div>
                                    <a class="btn-aTag">
                                        <div class="selBtn" data-move="down">NO</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
        </section>
    </div>
</div>


<div class="q-title">
    <div class="title-overlay">
        <div class="bg-img"></div>
        <div class="bg-filter"></div>
    </div>
    <div class="title-content">
        <div class="qTitle-line one">
            당신은 정규직인가요?
        </div>
    </div>
</div>


<script type="text/javascript" src="../../js/storyApp/movingMotion.js"/>
<script type="text/javascript" src="../../js/storyApp/storyContent.js"/>
</body>
</html>