<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<script src="https://code.jquery.com/jquery-1.11.3.js"/>-->
    <title>가입서</title>
    <link rel="stylesheet" href="../../css/storyApp/body.css"/>
    <link rel="stylesheet" href="../../css/storyApp/storySlider.css"/>
</head>

<body>
<div class="wrap">
    <div class="basic">
        <section class="content">
            <div class="lrContent">
                <ol class="story-slider">
                    <li class="liDiv">
                        <div class="result-div">
                            <div class="yes-div">
                                <em class="em-link">1</em>
                                <a class="btn-aTag">
                                    <button class="selBtn" data-move="up">YES</button>
                                </a>
                            </div>
                            <div class="no-div">
                                <em class="em-link">2</em>
                                <a class="btn-aTag">
                                    <button class="selBtn" data-move="down">NO</button>
                                </a>
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
        </section>
    </div>
</div>
<div class="q-title">당신은 정규직인가요?</div>
<script type="text/javascript" src="../../js/storyApp/movingMotion.js"/>
<script type="text/javascript" src="../../js/storyApp/storyContent.js"/>
</body>
</html>