<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<script src="https://code.jquery.com/jquery-1.11.3.js"/>-->
    <title>가입서</title>
    <link rel="stylesheet" href="../../css/storyApp/body.css"/>
</head>

<body>
<div class="wrap">
    <div class="basic">
        <section class="content">
            <button class="selBtn" data-move="down">A</button>
            <button class="selBtn" data-move="right">B</button>
        </section>
    </div>
</div>
<script type="text/javascript" src="../../js/storyApp/movingMotion.js"/>
</body>
</html>