/*@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


html{
    display: block;
    position: static;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
}

body {
    background: #E2E4E7;
    padding: 0;
    text-align: center;
    margin: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    padding: 0;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-family: Spoqa Han Sans;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);

}


ul{
    position: relative;
    list-style: none;
}


::selection {
    background: #ffc61c;
    color: black;
}
