.lrSection{
    display: block;
    width: 1055px;
    overflow: hidden;

}

.content{
    height: 100%;
}
.lrContent{
    height: 100%;
}
.story-slider{
    width: 1000%;
    height: 100%;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.liDiv{
    float: left;
    display: block;
    width: 30%;
    height: 100%;
}


.yes-div{
    position: relative;
    display: inline-block;
}

.no-div{
    position: relative;
    display: inline-block;
}

.em-link{
    display: none;
}