
.lrSection{
    display: block;
    width: 1055px;
    overflow: hidden;

}

.content{
    height: 100%;
}
.lrContent{
    height: 100%;
}
.story-slider{
    width: 200%;
    height: 100%;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.liDiv{
    float: left;
    display: block;
    /*width: 30%;*/
    width: 50%;
    height: 100%;
}

.result-div{
    height: 100%;
}

.qDiv.yes{
    position: relative;
    display: inline-block;
    /*width: 16.5%;*/
    width: 50%;
    height: 100%;
    float: left;
    background-position: center center;
}

.qDiv.no{
    position: relative;
    display: inline-block;
    float: left;
    width: 50%;
    height: 100%;
    background-position: center center;
}

.qDiv.unknown{
    position: relative;
    display: inline-block;
    height: 100%;
    background-position: center center;
}

.link-div{
    position: relative;
    display: inline-block;
    height: 100%;
}

.em-link{
    display: none;
}


/*.selBtn{*/
    /*position: relative;*/
    /*left: 50%;*/
    /*top: 50%;*/
    /*!*transform:translateX(-50%);*!*/

/*}*/

.qDiv.yes .selBtn{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.qDiv.no .selBtn{
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.qDiv.unknown .selBtn{
    background-color: #e7e7e7;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.link-div .selBtn{
    background-color: #f44336;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn-aTag{
     position: absolute;
     left: 50%;
     top: 120%;
     transform:translate(-50%,-50%);
 }

.event-div{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


.figure.circle{
    /*This creates a 1px solid red border around your element(div) */
    /*border:25px solid rgb(94, 95, 103);*/
    border:25px solid #FEFEFE;
    /*background-color: #FFFFFF;*/
    height: 150px;
    /* border-radius 50% will make it fully rounded. */
    border-radius: 50%;
    -moz-border-radius:50%;
    -webkit-border-radius: 50%;
    width: 150px;
    /*transform:translate(-35%,-0%);*/
}

.figure.x{
    position: relative;
    display: inline-block;
    width: 200px;
    height: 195px;
    overflow: hidden;
}


.figure.x::before{
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    /*background: rgb(195, 112, 112);*/
    background: #FEFEFE;
    transform: rotate(45deg);
    height: 30px;
    margin-top: -12px;
}

.figure.x::after{
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    /*background: rgb(195, 112, 112);*/
    background: #FEFEFE;
    transform: rotate(-45deg);
    height: 30px;
    margin-top: -12px;
}

.qTitle-line{
    position: relative;
    display: block;
}



/*.yes-div>.btn-aTag{*/
    /*padding-right: 18%;*/
/*}*/

/*.no-div>.btn-aTag{*/
    /*padding-left: 18%;*/
/*}*/