<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div th:fragment="mainSection" class="secWrap">
    <div class="background">

        <div class="bgInner00">
            <video id="video" class="video" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
             </video>
        </div>
        <div class="bgOverlay"></div>
    </div>

    <div class="container">

        <div class="outer">
            <div class="inner">
                <div class="centered">

                    <div class="mainContent">
                        <div>
                            <span class="titleBold">당신</span>
                            <span class="titleSmall">에게</span>
                        </div>
                        <div>
                            <span class="titleBold">도움</span>
                            <span class="titleSmall">이 되는</span>
                        </div>
                        <div>
                            <span class="titleSmall">생각보다</span>
                        </div>
                        <div>
                            <span class="titleBold">강한 힘,</span>
                        </div>
                        <div>
                            <span class="mainHead small">공공운수 노조가 있습니다</span>
                        </div>
                    </div>

                    <!--<div class="mainContent">-->
                        <!--<span class="mainHead ">당신에게</span>-->
                        <!--<span class="mainHead">도움이 되는</span>-->
                        <!--<span class="mainHead">생각보다</span>-->
                        <!--<span class="mainHead">강한 힘,</span>-->
                        <!--<span class="mainHead small">공공운수 노조가 있습니다</span>-->
                    <!--</div>-->

                    <div class="mainContentBg">
                    </div>

                    <!--<div class="bgOverlaySmall"></div>-->

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>