<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div th:fragment="section05" class="secWrap">
    <div class="background">
        <div class="bgInner05"></div>
        <div class="bgOverlay"></div>
    </div>

    <div class="container">
        <div class="outer">
            <div class="inner">
                <div class="centered">
                    <div class="textDiv">
                        <span class="headSpan left titleH1" >바람에게 묻는다</span>
                        <div class="aniDiv divBtoU">
                            <span class="empty"/>
                            <span class="headSpan left">
                                    바람에게 묻는다<br/>
                                    지금 그 곳에는 여전히<br/>
                                    꽃이 피었던가 달이 떳던가<br/>
                                </span>
                        </div>
                        <span class="empty"/>
                        <div class="aniDiv divBtoU">
                                <span class="headSpan left">
                                    바람에게 듣는다<br/>
                                    내 그리운 사람 못 잊을 사람<br/>
                                    아직도 나를 기다려<br/>
                                    그 곳에서 서성이고 있떤가<br/>
                                </span>
                        </div>
                        <span class="empty"/>

                        <span class="empty"/>
                        <span class="empty"/>
                        <span class="empty"/>
                        <div class="aniBtn divAlphaIn">
                                <span class="spanBlock left">
                                    <button class="btn-circle">바람에게 묻는다</button>
                                </span>
                            <span class="clear"></span>
                        </div>
                    </div>
                    <!--<svg xmlns="http://www.w3.org/2000/svg" version="1.1">-->
                    <!--<circle cx="42" cy="42" r="40" stroke="#34495E"-->
                    <!--stroke-width="4" fill="#2ECC71"/>-->
                    <!--</svg>-->
                    <div class="circleImg right">
                        <iframe  class="fSize" src="https://www.youtube.com/embed/fchVSJjcZxc" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>