<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div th:fragment="section01" class="secWrap">
    <div class="background">
        <div class="bgInner01"></div>
        <div class="bgOverlay"></div>
    </div>

    <div class="container">
        <div class="outer">
            <div class="inner">
                <div class="centered">
                    <div class="textDiv">
                        <div class="row-space-right"></div>
                       <div class="textDiv-inner-right">
                           <div class="headDiv">
                               <span class="interview-title titleH3" >첫 번째 인터뷰</span>
                               <span class="interviewHead titleH1" >영화 만드는 변영주
                               <span class="under-line"></span>
                               </span>
                           </div>
                           <div class="aniDiv divBtoU">
                               <span class="headSpan">
                                   #부조리한_사회_더_나빠진_전선,<br/>
                               </span>
                               <span class="headSpan">
                                   #너무나_한심한_블랙리스트_노조가_있었다면,
                               </span>
                               <span class="headSpan">
                                   #공공운수노동조합은?,<br/>
                               </span>
                               <span class="headSpan">
                                   #해고는_영화감독의_적
                               </span>
                            </div>
                            <span class="empty"/>
                            <!--<div class="aniBtn divAlphaIn">-->
                                <!--<span class="spanBlock left">-->
                                    <!--<button class="btn-circle">바람에게 묻는다</button>-->
                                <!--</span>-->
                                <!--<span class="clear"></span>-->
                            <!--</div>-->
                        </div>
                        <span class="empty"/>
                        <span class="empty"/>
                        <span class="empty"/>
                        <span class="empty"/>
                    </div>
                    <!--<svg xmlns="http://www.w3.org/2000/svg" version="1.1">-->
                    <!--<circle cx="42" cy="42" r="40" stroke="#34495E"-->
                    <!--stroke-width="4" fill="#2ECC71"/>-->
                    <!--</svg>-->
                    <div class="circleImg right">
                        <!--<div class="thumbnail-div">-->
                            <!--<img src="../../images/thumbnail/12.png" class="thumbnail" />-->
                            <!--<div class="play-btn">-->
                                <!--&lt;!&ndash;<a href="https://youtu.be/1B4-rTB-jv0">&ndash;&gt;-->
                                <!--<a href="https://youtu.be/1B4-rTB-jv0">-->

                                    <!--<div class="ply-btn-icon"/>-->
                                <!--</a>-->
                                <!--&lt;!&ndash;<div class="bg-circle-div">&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;<span class="bg-circle"></span>&ndash;&gt;-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<iframe  class="fSize" src="https://www.youtube.com/embed/fchVSJjcZxc" frameborder="0" allowfullscreen=""></iframe>-->
                        <iframe class="fSize" src="//www.youtube.com/embed/1B4-rTB-jv0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" wmode="Opague"></iframe>
                        <!--<iframe class="fSize" src="//www.youtube.com/embed/1B4-rTB-jv0?wmode=transparent" frameborder="0" allowfullscreen="" wmode="Opague"></iframe>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>