<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div th:fragment="section06" class="secWrap">
    <div class="background">
        <div class="bgInner06"></div>
        <div class="bgOverlay"></div>
    </div>

    <div class="container">
        <div class="outer">
            <div class="inner">
                <div class="centered">
                    <div class="textDiv">
                        <div class="row-space-right"></div>
                        <div class="textDiv-inner-right">
                            <div class="headDiv">
                                <span class="interview-title titleH3" >여섯 번째 인터뷰</span>
                                <span class="interviewHead titleH1" >
                                    배우 박철민
                                    <span class="under-line"></span>
                               </span>
                            </div>
                            <div class="aniDiv divBtoU">
                               <span class="headSpan">
                                   #날라리_운동권_배우가_되다<br/>
                               </span>
                                <span class="headSpan">
                                   #또_하나의_약속,_또_하나의_가족<br/>
                               </span>
                                <span class="headSpan">
                                   #망설여도_괜찮아
                               </span>
                                <span class="headSpan">
                                   #내 삶에 꼭 필요한 공공운수노조<br/>
                               </span>
                            </div>
                            <span class="empty"/>
                        </div>
                        <span class="empty"/>
                        <span class="empty"/>
                        <span class="empty"/>
                        <span class="empty"/>
                    </div>
                    <div class="circleImg right">
                        <iframe class="fSize" src="//www.youtube.com/embed/4tmYGV28er8?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" wmode="Opague"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>