<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div th:fragment="section03" class="secWrap">
    <div class="background">
        <div class="bgInner03"></div>
        <div class="bgOverlay"></div>
    </div>

    <div class="container">
        <div class="outer">
            <div class="inner">
                <div class="centered">
                    <div class="textDiv">
                        <div class="row-space-right"></div>
                        <div class="textDiv-inner-right">
                            <div class="headDiv">
                                <span class="interview-title titleH3" >세 번째 인터뷰</span>
                                <span class="interviewHead titleH1" >만화 그리는 김보통
                               <span class="under-line"></span>
                               </span>
                            </div>
                            <div class="aniDiv divBtoU">
                               <span class="headSpan">
                                   #나는_쉬어야_해_만화_그리는_김보통
                               </span>
                                <span class="headSpan">
                                   #나일_수_없었던_회사생활<br/>
                               </span>
                                <span class="headSpan">
                                   #아직_불행하지_않습니다
                               </span>
                                <span class="headSpan">
                                   #새로운_노조_새로운_운동
                               </span>
                            </div>
                            <span class="empty"/>
                        </div>
                        <span class="empty"/>
                        <span class="empty"/>
                        <span class="empty"/>
                        <span class="empty"/>
                    </div>
                    <div class="circleImg right">
                        <iframe class="fSize" src="//www.youtube.com/embed/dL3Ud-N4U74?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" wmode="Opague"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>