<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div th:fragment="section02" class="secWrap">
    <div class="background">
        <div class="bgInner02"></div>
        <div class="bgOverlay"></div>
    </div>

    <div class="container">
        <div class="outer">
            <div class="inner">
                <div class="centered">
                    <div class="textDiv">
                        <div class="row-space-right"></div>
                        <div class="textDiv-inner-right">
                            <div class="headDiv sec02">
                                <span class="interview-title titleH3 sec02">두 번쨰 인터뷰</span>
                                <span class="interviewHead titleH1 sec02">연기라는<br/>
                                    노동을 하는, 권해효
                               <span class="under-line"></span>
                               </span>
                            </div>
                            <div class="aniDiv divBtoU">
                               <span class="headSpan">
                                  #사회활동가?_연기자_권해효<br/>
                               </span>
                                <span class="headSpan">
                                    #다른_세상을_꿈꾼다는_것,
                               </span>
                                <span class="headSpan">
                                   #모든_곳에_공공운수노조,<br/>
                               </span>
                                <span class="headSpan">
                                    #공공운수노조와_함께라면
                               </span>
                            </div>
                            <span class="empty"/>
                            <!--<div class="aniBtn divAlphaIn">-->
                            <!--<span class="spanBlock left">-->
                            <!--<button class="btn-circle">바람에게 묻는다</button>-->
                            <!--</span>-->
                            <!--<span class="clear"></span>-->
                            <!--</div>-->
                        </div>
                        <span class="empty"/>
                        <span class="empty"/>
                        <span class="empty"/>
                        <span class="empty"/>
                    </div>
                    <!--<svg xmlns="http://www.w3.org/2000/svg" version="1.1">-->
                    <!--<circle cx="42" cy="42" r="40" stroke="#34495E"-->
                    <!--stroke-width="4" fill="#2ECC71"/>-->
                    <!--</svg>-->
                    <div class="circleImg right">
                        <!--<div class="thumbnail-div">-->
                        <!--<img src="../../images/thumbnail/12.png" class="thumbnail" />-->
                        <!--<div class="play-btn">-->
                        <!--&lt;!&ndash;<a href="https://youtu.be/1B4-rTB-jv0">&ndash;&gt;-->
                        <!--<a href="https://youtu.be/1B4-rTB-jv0">-->

                        <!--<div class="ply-btn-icon"/>-->
                        <!--</a>-->
                        <!--&lt;!&ndash;<div class="bg-circle-div">&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<span class="bg-circle"></span>&ndash;&gt;-->
                        <!--</div>-->
                        <!--</div>-->

                        <!--<iframe  class="fSize" src="https://www.youtube.com/embed/fchVSJjcZxc" frameborder="0" allowfullscreen=""></iframe>-->
                        <iframe class="fSize" src="https://www.youtube.com/embed/I-37cim5aGU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" wmode="Opague"></iframe>
                        <!--<iframe class="fSize" src="//www.youtube.com/embed/1B4-rTB-jv0?wmode=transparent" frameborder="0" allowfullscreen="" wmode="Opague"></iframe>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>