<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div th:fragment="section07" class="secWrap">
    <div class="background">
        <div class="bgInner07"></div>
        <div class="bgOverlay"></div>
    </div>

    <div class="container">
        <div class="outer">
            <div class="inner">
                <div class="centered">
                    <div class="textDiv">
                        <div class="row-space-right"></div>
                        <div class="textDiv-inner-right">
                            <div class="headDiv">
                                <span class="interview-title titleH3" >일곱 번째 인터뷰</span>
                                <span class="interviewHead titleH1 worker" >
                                    정인용, 박경득, 이의용
                                    <span class="under-line"></span>
                               </span>
                            </div>
                            <div class="aniDiv divBtoU">
                               <span class="headSpan">
                                   #저는_공공운수노동조합_조합원입니다
                               </span>
                                <span class="headSpan">
                                   #촛불_정권_희망을_보여줘<br/>
                               </span>
                                <span class="headSpan">
                                   #차별없고_안전한_사회를_위해
                               </span>
                                <span class="headSpan">
                                   #함께_가는_공공운수노동조합<br/>
                               </span>
                                <span class="headSpan">
                                    #그러니까,_노조하세요<br/>
                               </span>
                            </div>
                            <span class="empty"/>
                        </div>
                        <span class="empty"/>
                        <span class="empty"/>
                        <span class="empty"/>
                        <span class="empty"/>
                    </div>
                    <div class="circleImg right">
                        <iframe class="fSize" src="//www.youtube.com/embed/MTaniNk8E4g?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" wmode="Opague"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>